// color
$color-purple: #ae60d4;
$color-dark-purple: #8b65ec;
$color-light-purple: #f2f2fe;
$color-pink: #ff589e;
$color-light: #fff;
$color-light-grey: #fefefe;
$color-grey: rgb(151, 151, 151);
$color-light-grey-2: rgb(218, 218, 218);
$color-dark: rgb(68, 68, 68);
$color-black: #000;
// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// font
$font-mediume: 1.6rem;
