.u-text-center {
  text-align: center;
}

.u-font-size-p-sm {
  font-size: 1.4rem;
}

.u-font-size-p-md {
  font-size: 1.6rem;
}

.u-font-size-p-lg {
  font-size: 1.7rem;
}

.u-padding-p-sm {
  padding: 0 1rem;
}

.u-margin-top-feature-large {
  margin-top: 30rem;
}

.u-margin-top-feature-sm {
  margin-top: 15rem;
}

.u-padding-sm {
  font-weight: 400;
  padding-right: 1.5rem;
  padding-left: 2.5rem;
  padding-bottom: 2rem;
  letter-spacing: 1px;
}
.u-color {
  color: rgb(150, 150, 150);
}

.u-color-white {
  color: $color-light;
}

.u-padding-md {
  padding-top: 10rem;
  letter-spacing: 1.5px;
  word-spacing: 1px;
}

.u-line-through {
  text-decoration: line-through;
}

.u-margin-top {
  margin-top: 5rem;
  padding-top: 15rem;
  margin-bottom: 2rem;
}

.u-margin-bottom-sm {
  margin-bottom: 6rem;
}
